DB_HOST=<Database Host>
POSTGRES_USER=<Database Username>
POSTGRES_PASSWORD=<Database Password>
POSTGRES_DB=<Database Name>
DB_PORT=<Database Port>

POSTGRES_HOST_AUTH_METHOD=trust
TZ=GMT-6
PGTZ=GMT-6